.flip-container
  .flipper
    .front
      .card.trading-card
        %img.card-img-top{src: "/very-handsome.jpg", alt: "Card image cap"}
        .card-body
          %h5.card-title= card.display_name
    .back
      .card.trading-card
        %ul.list-group
          - card.stats.each do |stat|
            %li.list-group-item 
              %b= stat.title 
              = stat.value 
          %li.list-group-item 
            %b Words Per Minute
            74 
          %li.list-group-item 
            %b Hockey 
            No 
          %li.list-group-item 
            %b Watches Hockey 
            When it's on in the bar 
          %li.list-group-item 
            %b Pizza Per Minute 
            2 
